* {
  font-family: "Oxygen", sans-serif;
  color: rgba(0, 0, 0, 0.8);
}

img {
  width: inherit;
  max-width: 100%;
  height: 100%;
}

body {
  background-image:/* url("https://cutewallpaper.org/21/pokemon-background-gif/poke-backgrounds-Tumblr.gif");*/
    url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.header {
  border-radius: 30px 30px 0px 0px;
  /*display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;*/
  margin: 1% 2% 0% 2%;
  padding: 0.5% 1%;
  height: 3rem;
}

.header--glass-dark {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
}

.main {
  margin: 0% 2% 0% 2%;
  padding: 0.5% 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.main--glass-light {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(15px);
}

.main__title {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0% 2% 0% 2%;
  padding: 0.5% 1%;
  object-fit: contain
}

.main__name {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
  border-radius: 15px 15px 15px 15px;
  font-family: 'Palanquin Dark', sans-serif;
  font-size: x-large;
  font-weight: 600;
  margin: 0% 2% 0% 2%;
  padding: 3%;
  text-align: center;
  width: 100%;
}

.main__properties{
  border-radius: 20px 20px 20px 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
  width: 25rem;
}

.main__property--item {
  padding: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__property--title {
  font-size: large;
  font-weight: 400;
  padding: 10%;
}

.main__property--value {
  font-size: x-large;
  font-weight: 800;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
  border-radius: 0px 0px 30px 30px;
  margin: 0% 2% 0% 2%;
  padding: 1% 7%;
  align-items: center;
  justify-content: space-between;
}

.footer__title {
  font-size: x-large;
  font-weight: 800;
  font-family: "Oxygen", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.footer__others-pokemons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__pokemon-box {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
  border-radius: 30px 30px 30px 30px;
  margin: 1%;
  padding: 1% 1%;
  height: 6rem;
  width: 10rem;
}

.footer__pokemon-img {
  object-fit: contain;
}

